<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="bower_components/dynatable/jquery.dynatable.css" rel="stylesheet">
    <link href="css/lib/jquery.datetimepicker.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">

</head>
<body>

<input type="hidden" id="ws_addr" value="<%= ws_addr %>">

<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav" id="sidenav01">
                        <li class="active">
                            <a href="#" data-toggle="collapse" data-parent="#sidenav01" class="collapsed">
                                <h4>
                                    Waiting Room
                                </h4>
                            </a>
                        </li>
                        <li>
                            <a href="/front" class="collapsed">
                                <span class="glyphicon glyphicon-facetime-video"></span> Front<span
                                        class="caret pull-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="collapsed">
                                <span class="glyphicon glyphicon-log-out"></span> Logout<span
                                        class="caret pull-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-10 affix-content">
        <div class="container">

            <div class="page-header">
                <h3><span class="glyphicon glyphicon-th-list"></span> Dashboard</h3>
            </div>

            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="clientFirstname" placeholder="Client firstname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="clientLastname" placeholder="Client lastname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="meetingReason" placeholder="Reason">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="meetingDatetime" placeholder="Date">
                </div>
                <button class="btn btn-default btn-success" id="addBtn">ADD</button>
            </form>

            <div class="meetingList">

                <table class="table table-striped table-bordered" id="meetingList">
                    <thead>
                    <th data-dynatable-column="clientFirstname">Firstname</th>
                    <th data-dynatable-column="clientLastname">Lastname</th>
                    <th data-dynatable-column="meetingReason">Reason</th>
                    <th data-dynatable-column="meetingDatetime">Meeting datetime</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/sweetalert/lib/sweet-alert.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/dynatable/jquery.dynatable.js"></script>
<script src="js/lib/socket.io.js"></script>
<script src="js/lib/jquery.datetimepicker.js"></script>
<script src="js/dashboard.js"></script>

</body>
</html>