<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="bower_components/dynatable/jquery.dynatable.css" rel="stylesheet">
    <link href="css/lib/jquery.datetimepicker.css" rel="stylesheet">
    <link href="css/front.css" rel="stylesheet">

</head>
<body>

<input type="hidden" id="ws_addr" value="<%= ws_addr %>">

<div class="container">

    <div class="row affix-row jumbotron">
        <div class="col-md-12">

            <h2>Meetings</h2>

        </div>
    </div>
</div>

<div class="container">

    <div class="row affix-row">
        <div class="col-md-12">

            <div class="meetingList">

                <table class="table table-striped" id="meetingList">
                    <thead>
                    <th data-dynatable-column="meetingDatetime">Time</th>
                    <th data-dynatable-column="clientFirstname">Firstname</th>
                    <th data-dynatable-column="clientLastname">Lastname</th>
                    <th data-dynatable-column="meetingReason">Reason</th>
                    <th data-dynatable-column="meetingStatus">Status</th>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/sweetalert/lib/sweet-alert.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/dynatable/jquery.dynatable.js"></script>
<script src="js/lib/socket.io.js"></script>
<script src="js/lib/jquery.datetimepicker.js"></script>
<script src="js/front.js"></script>

</body>
</html>