#dynatable-record-count-meetingList{
    display: none;
}

#dynatable-pagination-links-meetingList {
    display: none;
}

#dynatable-search-meetingList {
    display: none;
}

.dynatable-per-page {
    display: none;
}

.meetingList th a {
    color: black;
}

#meetingList tr {
    font-size: 1.4em;
}

.red-header {
    background-color: #d00000;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}

.slide {
    padding: 30px;
}